body {
  background-color: #e3e1eb;
}
.app-container {
  text-align: center;
  padding: 13px;
}

.editor-container {
  display: flex;
  gap: 20px;
}

.markdown-input {
  width: 50%;
  padding: 10px;
  border:none;
  outline: none;
  height: 93vh; 
  background-color: #f0eeee;
}

.markdown-preview {
  width: 50%;
  padding: 10px;
}
.markdown-preview p {
  text-align: left;
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  margin-left: 6px;
}
